.showCase {
    height: 45vw;
    display: flex;
    padding: 1rem 10vw;
    color: #222;
    justify-content: space-between;
    /* align-items: center; */
    font-family: "PTSansNarrow", sans-serif;
}

.presentation {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    /* padding: 2vw; */
    /* margin-bottom: 7vw; */
    /* background-color: aliceblue; */
    /* background-image: url(../../images/creamsoda_pres.jpg); */
}

.name {
    font-size: 8vw;
    font-family: "BebasNeue", sans-serif;
}

.description {
    font-size: 2vw;
}

.newsBlock {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}

@media (max-width: 900px) {
    .showCase{
        flex-direction: column;
        height: 120vw;
    }

    .presentation {
        width: 100%;
        height: 20%;
    }

    .name {
        font-size: 15vw;
        font-family: "BebasNeue", sans-serif;
    }
    
    .description {
        font-size: 4vw;
    }

    .newsBlock {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .showCase{
        flex-direction: column;
        height: 140vw;
    }

    .presentation {
        width: 100%;
        height: 20%;
    }

    .name {
        font-size: 15vw;
        font-family: "BebasNeue", sans-serif;
    }
    
    .description {
        font-size: 4vw;
    }

    .newsBlock {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        justify-content: center;
    }
}